.popup__save-button { 
  background-color: #000000; 
  min-height: 50px; 
  min-width: 358px;
  margin: 0 36px 37px; 
  border-radius: 2px; 
  font-style: normal; 
  font-weight: 400; 
  font-size: 18px; 
  line-height: 22px; 
  text-align: center; 
  color: #FFFFFF; 
  padding: 0; 
} 

@media screen and (max-width: 550px) { 
  .popup__save-button { 
    font-size: 14px; 
    line-height: 17px; 
    margin: 15px 22px 25px; 
    min-height: 46px; 
} 
} 
   
.popup__save-button:hover { 
  opacity: 0.8; 
} 

.popup__save-button:disabled { 
  background-color: white; 
  color: rgba(0, 0, 0, 0.15); 
  border-color: rgba(0, 0, 0, 0.15); 
  border-width: 1px; 
  border-style: solid; 
}   