.popup__input { 
  margin: 0 0 5px; 
  border: 0; 
  height: 27px; 
  box-sizing: border-box; 
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); 
  background-color: transparent; 
  font-style: normal; 
  font-weight: 400; 
  font-size: 14px; 
  line-height: 17px; 
  padding: 0 0 13px 0; 
  min-width: 358px; 
} 
 
@media screen and (max-width: 550px) { 
  .popup__input { 
    margin: 0 22px 30px; 
    max-width: 238px; 
  } 
} 

.popup__input:focus { 
  outline-color: transparent; 
} 
 
.popup__input:last-child { 
  margin-bottom: 48px; 
} 

.popup__input:invalid { 
  border-bottom: 1px solid #FF0000; 
}